.avatarCard {
  display: block;
  position: relative;
  top: -6em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5em;
  width: 10em;
  border-radius: 50%;
}

.avatarNormal {
  margin-left: 1.5em;
  width: 7em;
  border-radius: 50%;
}
