.hero {
    padding: 4rem 2rem;
}

@media only screen and (min-width: 580px) {
    .hero {
        padding: 4rem;
    }
  }

@media only screen and (min-width: 1550px) {
    .hero {
        padding: 5.3rem;
    }
  }

  @media only screen and (min-width: 1800px) {
    .hero {
        padding: 8rem;
    }
  }