@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

.actionButton {
    background-color: #F08A5D;
    font-size: 1.2em;
    font-family: "Didact Gothic", sans-serif;
    width: 7em;
    height: 2.5em;
    border: transparent;
    word-spacing: .1em;
    margin-top: 2rem;
}