.frontpageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5rem;
  
}

.middleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.musicVideoPlayer {
  margin-bottom: 5rem;
  animation: fadein 2s ease-in;
  transition: opacity 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

