.frontpageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5rem;
  
}

.middleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.musicVideoPlayer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5rem;
}

.aboutMeTitle {
  margin-top: 5rem;
}



