@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300&display=swap");

.testContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.testImg {
  border-radius: 50%;
  width: 10rem;
  box-shadow: 0px 0px 10px -5px;
  margin-bottom: 0.5rem;
}

.testTitle {
  margin-bottom: 1rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.testBody {
  margin-bottom: 3rem;
  font-family: "Lato", sans-serif;
  transition: transform 7s ease;
  text-align: center;
}